:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #464646;
    --primary-color: #02fdfd;
    --secondary-color: #ff7235;
    --primary-shadow: #02fdfd;
    --secondary-shadow: #050200;
  }

  html {
    scroll-behavior: smooth;
  }

  @media (min-width: 481px) {
    h2 { font-size: 36px; }
  }

  @media (min-width: 767px) and (max-width: 1024px) {
    h2 { font-size: 36px; }
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    color: var(--primary-color);
    font-size: 25px;
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
    font-size: 25px;
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .bio-img {
    width: 65%;
    height: 60%;
    background-color: #02fdfd;
    border-radius: 11px;
    border-color: #02fdfd;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 5px; 
    margin: 10px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
  }
  

  .about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
    color: var(--primary-color);
    justify-content: center;
  }
  
  .about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
    color: #02fdfd;
    text-align:center ;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
    background-color:var(--primary-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 5px; 
    margin: 10px;
  }

  a:link {
    color: rgb(248, 3, 228);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(6, 247, 38);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(200, 255, 0);
    background-color: transparent;
    text-decoration: underline;
  }

  .contact {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    background-color: #464646;
  }
  
  .contact-header {
    margin-bottom: 1rem;
    color: #02fdfd;
  }
  
  .contact-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }