:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #464646;
    --primary-color: #02fdfd;
    --secondary-color: #ff7235;
    --primary-shadow: #02fdfd;
    --secondary-shadow: #050200;
  }

  body {
    background-color: #464646;
  }

  html {
    scroll-behavior: smooth;
  }

  @media (min-width: 481px) {
    h2 { font-size: 36px; }
  }

  @media (min-width: 767px) and (max-width: 1024px) {
    h2 { font-size: 36px; }
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    color: var(--primary-color);
    font-size: 25px;
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
    font-size: 25px;
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .projects-title {
    margin-top: 50px;
  }
  
  .projects {
    background-color: var(--bg-color);
    flex: auto;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 32px 0;
    margin-top: 2rem;
    color: #02fdfd;
    text-align:center ;
  }
  
  .project-pic {
    width: 45%;
    height: 50%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    justify-content: space-between;
    align-items: center;
    background-color:var(--primary-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 5px; 
    margin: 10px;
  }

  a:link {
    color: #02fdfd;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(6, 247, 38);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(200, 255, 0);
    background-color: transparent;
    text-decoration: underline;
  }